@page
@model DreamHome.Pages.AboutUsModel
@{
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="heading-title text-center">
            <h2 class="text-uppercase">About Us</h2>
            <p class="p-top-30 half-txt">Dream Home Inc. was founded by Harshita, Cheshta and Ritika in 2013. We are a group of experienced real estate professionals with over 30 years of combined experience in home buying and selling process. We have helped in over tens of thousands of real estate transactions. We are best advisors of our clients and most of our business is due to our recurring clients buying and selling second or third properties.</p>
        </div>
     </div>
    <div class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Our Core Team</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/ha.jpg" alt="team member" class="img-responsive" style="width:425px;height:400px" >
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>Harshita Yadav</h4>
                            <p>I am the CEO at Dream Home Inc. I love real estate business and like to leave smile on the faces of our clients by assisting with the most satisfying home buying/selling experience. Our real estate agents strive to get you the best deal.  </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/C.jpeg" alt="team member" class="img-responsive" style="width:425px;height:400px">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>Cheshta Kaul</h4>
                            <p>I am the CFO and lead real estate professional at Dream House Inc. I have 15 yrs of experience managing finances in real estate industry. My goal align business goals with quality service.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/images/r.png" alt="team member" class="img-responsive" style="width:425px;height:400px">
                    </div>
                    <div class="team-hover">
                        <div class="desk" style="padding-bottom:65px">
                            <h4>Ritika Gyanani</h4>
                            <p>I am the contracts manager at Dream Home and I am heavily invested on the home selling side of the business and I ensure best offers for our home sellers and a seamless closing experience.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>