@page
@model DreamHome.Pages.BuyHomeModel
@{
}


<div class="card" style="width:100%">
        <h2 class="text-center" style="color:brown">Make your own package</h2>



        <form action="/post" class="text-center">
            <label for="fname">First name</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <label for="lname">Last name</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <label for="mail">Email ID</label><br>
            <input type="email" id="" name="mail" value=""><br><br>
            <label for="fname">Destination</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <button class="btn-group-toggle" type="button" disabled>Get your Quote</button>
        </form>
    </div>
