@page
@model DreamHome.Pages.HelpModel
@{
}
<div class="container">
    <div class="row">
        <img src="~/images/Help.jpg" alt="FAQ" style="width:1100px;height:400px" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>1. Home Buying Process</h4>
            <div>
                <p>Home buying process starts with placing an offer on a property, getting the offer accepted, securing home financing, getting home appraised and inspected, getting credits or home repairs post home-inspection and clear title contingency/closing.</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/help1.jpg" alt="FAQ" style="width:1100px;height:400px" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h3>3. What services we offer? </h3>
            <div>
                <p>We help our clients with all the buying formalities. We also help our clients with mortgage approval and make their process smooth</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h3>4. How Can we Help? </h3>
            <div>
                <p> We help scores of clients all over the world with home buying. We can be buyers and sellers’ agents for the same property. </p>
            </div>
        </div>
    </div>

</div>
