@page
@model PrivacyModel
@{
    ViewData["Title"] = "OurTeam";
}
<h1>@ViewData["Title"]</h1>

<div class="item">
    <img src="~/Images/chicago.jpg" alt="Chicago" style="width:100%;height:50%">
    <h1>Harshita Yadav</h1>
    <h1>Raj Soni</h1>
    <h1>kamla Harrison</h1>
</div>
